# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

AndroidRestClient/app/build
AndroidRestClient/build
AndroidRestClient/local.properties
BackendRestService/target
BackendRestService/.gitignore
CommonRestDependencies/target
CommonRestDependencies/.gitignore
